*data_raw*
*-update/*
build/
node_modules/
dist/
.vscode/
.DS_Store
.env
env/
.venv
.flaskenv
*.pyc
*.pyo
industries/naics/sqlite_zipcode_db_delete/zip_data/us_economic_data.db
industries/naics/duck_zipcode_db/zip_data/duck_db_manager/database/us_economic_data.duckdb